@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden; /* prevent whole-page scrolling */
}

.dashboard {
  flex: 1;
  overflow-y: auto; /* only dashboard content scrolls */
  padding: 20px;
}

/* For Chrome, Edge, Safari */
/* .dashboard::-webkit-scrollbar {
  width: 8px;
}

.dashboard::-webkit-scrollbar-track {
  background: #f3ece6; 
  border-radius: 10px;
}

.dashboard::-webkit-scrollbar-thumb {
  background: #b8936c; 
  border-radius: 10px;
  transition: background 0.3s ease;
}

.dashboard::-webkit-scrollbar-thumb:hover {
  background: #825e39; 
} */